@model PasswordGenerator.Password
@{
    ViewData["Title"] = "GeneratePassword";
}

<h1>Generate Password</h1>
<body>

    <form asp-action="Password" method="post">
        <p>
            Include lowercase:
            <input type="checkbox" value="true" name="IncludeLowercase" checked />
        </p>                                        
        <p>                                         
            Include uppercase:                      
            <input type="checkbox" value="true" name="IncludeUppercase" checked />
        </p>
        <p>
            Include numeric:
            <input type="checkbox" value="true" name="IncludeNumeric" checked />
        </p>
        <p>
            Include symbols:
            <input type="checkbox" value="true" name="IncludeSymbols" checked />
        </p>
        <p>
            Avoid ambiguous symbols:
            <input type="checkbox" value="true" name="AvoidAmbiguous" checked />
        </p>
        <p>
            Password length:
            <input asp-for="length" />
        </p>
        <br>
        <button type="submit">Generate</button>

    </form>

    <p>
        @*@if (ViewBag.PasswordList != null)
        {
            @foreach (string p in ViewBag.PasswordList)
            {
                <li>@p</li>
            }
        }*@
        @ViewBag.PasswordList
    </p>


</body>

